/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align:center;
    background-color:white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    min-height: 90%;
    margin: 10px;
    size: 0cap;
}
.box{
    background-color:grey;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding:2px;
    margin: 15px;
    width: auto;
}
.boxdark{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 15px;
    width: auto;
}
p {
    background-color: lightblue;
    text-align:justify;
    font-size:large;
    font-style: oblique;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding:5%;
    margin: 0%;
    border-radius: 10px;
}

h1 {
    text-align:left;
    text-decoration: underline;
    font-size: 2rem;
    color: black;
    margin-bottom: 20px;
}
h2 {
    text-align:center;
    font-style:italic;
    text-shadow: #0056b3;
    font-size:x-large;
    color:black;
    padding: auto;
    margin-bottom: 20px;
}

.button {
    background-color:black;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 5%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
}

button:hover {
    background-color: #0056b3;
}
